$MediumVioletRed:#AC197F;
$Navy:#000038;
$Gri_cendre: #c6c7c5;
$orange_tangerine: #f48500;
$Violet_tres_fonce: #320065;
$Violet_tres_fonce: (
50 #E6E0ED 
100 #C2B3D1 
200 #9980B2 
300 #704D93 
400 #51267C 
500 #320065 
600 #2D005D 
700 #260053 
800 #1F0049 
900 #130037 
100 #8F6EFF 
200 #673BFF 
400 #4008FF 
700 #3600EE );
$orange_tangerine:(50 #FEF0E0 
100 #FCDAB3 
200 #FAC280 
300 #F7AA4D 
400 #F69726 
500 #F48500 
600 #F37D00 
700 #F17200 
800 #EF6800 
900 #EC5500 
A100 #FFFFFF 
A200 #FFE9E0 
A400 #FFC5AD 
A700 #FFB393 );
$Gri_cendre:(
  50 #F8F8F8 
100 #EEEEEE 
200 #E3E3E2 
300 #D7D8D6 
400 #CFCFCE 
500 #C6C7C5 
600 #C0C1BF 
700 #B9BAB8 
800 #B1B3B0 
900 #A4A6A3 
A100 #FFFFFF 
A200 #FFFFFF 
A400 #F2FFEB 
A700 #E1FFD2 
);
$Navy:(50 #E0E0E7 
100 #B3B3C3 
200 #80809C 
300 #4D4D74 
400 #262656 
500 #000038 
600 #000032 
700 #00002B 
800 #000024 
900 #000017 
A100 #5757FF 
A200 #2424FF 
A400 #0000F0 
A700 #0000D6 );
$MediumVioletRed:(
  50 #F5E3F0 
100 #E6BAD9 
200 #D68CBF 
300 #C55EA5 
400 #B83C92 
500 #AC197F 
600 #A51677 
700 #9B126C 
800 #920E62 
900 #82084F 
A100 #FFB1DB 
A200 #FF7EC3 
A400 #FF4BAB 
A700 #FF319F 

)
